# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# C extensions
*.pyd

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
.venv/
ENV/
venv.bak/

# pipenv
Pipfile.lock

# Python-specific files
*.log
*.pot
*.pyc
*.pyo

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# pytest
.cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific settings
.vscode/
.idea/

# Selenium specific
selenium.log
geckodriver.log
chromedriver.log
chromedriver.exe
geckodriver.exe

# Operating system specific
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.swp
